doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Shop
        link(rel="stylesheet", href="/shop-style.css")
    body 
        header.app-header
            nav.app-header__nav
                ul.app-header__ul
                    li.app-header__li
                        a.app-header__links(href="/") Shop
                    li.app-header__li
                        a.app-header__links.app-header__links--active(href="/add-items") Add Products
        main
            form.mainbody-form(action="addingItems" method="POST")
                label.mainbody-label(for="items") * New Item 
                input#items(type="text" name="items")
                button(type="submit") Add
