extends layout/main-layout.pug

block main-contents
        main
            form.mainbody-form(action="addingItems" method="POST")
                label.mainbody-label(for="items") * New Item2
                input#items(type="text" name="items")
                button(type="submit") Add
