doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Shop
        link(rel="stylesheet", href="/shop-style.css")
        block styles
    body 
        header.app-header
            nav.app-header__nav
                ul.app-header__ul
                    li.app-header__li
                        a.app-header__links(href="/" class=(path === '/' ? active : '')) Shop
                    li.app-header__li
                        a.app-header__links(href="/add-items" class=(path === '/admin/add-items' ? active : '')) Add Products
        block main-contents