body{
    padding:0px;
    margin: 0px;
}
.app-header{
    background-color: grey;
    margin:0px;
    padding:0px;
    height: 100px;
    font-family: sans-serif;
}

.mainbody-form{
    height : 100px;
    background-color: lightgray;
    padding-top: 50px;
}

.app-header__nav{
    height:100%;
    display:flex;
    align-items: center; 
}

.app-header__links{
    text-decoration: none;
    color: white;
}

.app-header__links--active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    }

.app-header__ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.app-header__li{
    padding:0 50px;
    margin: 0 10px;
}

article{
    margin-top: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    width: 100%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  
  .btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #00695c;
    color: white;
  }

  .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}