<%- include('includes/head.ejs') %>
        <form class="mainbody-form" action="addingItems" method="POST">
            <label class="mainbody-label" for="items"> * New Item :</label>
            <input type="text" id="items" name="items">
            <button type="submit">Add</button>
        </form>
<%- include('includes/head.ejs') %>