<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/shop-style.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <header class="app-header">
        <nav class="app-header__nav">
            <ul class="app-header__ul">
                <li class="app-header__li"><a class="app-header__links" href="/">Shop</a></li>
                <li class="app-header__li" ><a class="app-header__links" href="/add-items">Add Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Page Not Found.!</h1>
    </main>
</body>
</html>