<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/shop-style.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    
    <header class="app-header">
        <nav class="app-header__nav">
            <ul class="app-header__ul">
                <li class="app-header__li"><a class="app-header__links" href="/">Shop</a></li>
                <li class="app-header__li" ><a class="app-header__links app-header__links--active" href="/add-items">Add Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="mainbody-form" action="addingItems" method="POST">
            <label class="mainbody-label" for="items"> * New Item :</label>
            <input type="text" id="items" name="items">
            <button type="submit">Add</button>
        </form>
    </main>
</body>
</html>